
.containerTest {
    display: flex;
    flex-direction: row;
}

.wine-name {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px 10px;
}

.wine-grapes {
    color: purple;
}

.testingarea {
    border: 1px solid blue;
    height: 400px;
}

.testingPopupZone {
    border: 1px solid red;
    height: 400px;
    width: 600px;
}

.new {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    padding: 5px 5px;
    justify-content: center;
}

.hidden {
    display: none;
}

.wine-index-listing {
    cursor: pointer;
    margin: 5px 5px;
}

.wine-index-listing:hover {
    color: white;
    background-color: purple;
}

img {
    width: 100px;
    height: 100px;
}

